*{
  margin: 0% !important;
  padding: 0% !important;
  box-sizing: border-box !important;
  /* overflow-x: hidden !important; */
}

body {
  background-color: black !important;
}

div{
  width: 400px;
  height: 200px;
  padding: 25px 30px !important;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: lightgray;
  border-radius: 3px;
}
div h2{
  font-weight: 700 !important;
}
div h3{
  font-weight: 500 !important;
  margin-top: 5% !important;
}
div button{
  padding: 5px 10px !important;
  margin-top: 5% !important;
  margin-left: 2% !important;
  border: none;
  outline: none;
  background-color: teal;
  border-radius: 3px;
  font-weight: 500 !important;
}
div .increment{
  margin-left: 0% !important;
}
